{% extends 'includes_extends/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Saved{% endblock title %}
{% block body %}
{% include 'includes_extends/navbar.html' %}
<main class="flex my-10">
    <div class="flex flex-wrap justify-center">
        {% for profile in profiles %}
        <div class="mb-5 profile-box m-2" style="width: 30rem;">
            <div class="flex">
                <img src="{{profile.profile.profile_image.url}}" alt="profile img" class="m-2 rounded-full" width="60px" height="60px">
                <div>
                    <h3 class="text-white"><a href="{% url 'profile' profile.profile.username  %}">{{profile.profile.get_full_name}}</a></h3>
                    <p class="text-sm text-white">{{profile.profile.username }}</p>
                    <p class="text-white">{{profile.profile.title_tag}}</p>
                </div>
            </div>
            <p class="m-2 text-white">{{profile.profile.about | slice:200}}...</p>
            <div class="flex m-2 text-white">
                <p>
                    Country : {{profile.profile.country.name}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Is looking For : {{profile.profile.is_looking}}<br>
                </p>
            </div>
            <div class="flex m-2 text-white">
                <p>
                    Experience : {{profile.profile.experience_years}} Years
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Degree : {{profile.profile.degree}}<br>
                </p>
            </div>
            <div class="flex flex-wrap justify-evenly">
                {% for skill in profile.profile.skills.all|slice:":4" %}
                <div class="flex justify-center w-24 py-2 mx-2 mt-4 text-white skill-badge rounded-xl">{{skill.skill.name}}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock body %}
