{% extends 'includes_extends/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Add Project{% endblock title %}
{% block body %}
{% include 'includes_extends/navbar.html' %}
<main class="flex m-auto primary lg:max-w-4xl my-6 rounded-lg">
    <div class="w-full mx-16 mt-20 mb-10 form">
        <form method="POST">
            {% csrf_token %}
            {% render_field form.name placeholder="Project Name" class="w-full p-3 px-4 py-2 my-2 border rounded-md focus:outline-none" %}
            
            {% render_field form.description placeholder="Description" class="w-full p-3 px-4 py-2 my-4 border rounded-md h-52 focus:outline-none"  %}
            
            {% render_field form.demo_link placeholder="Demo Link" class="w-full p-3 px-4 py-2 my-2 border rounded-md focus:outline-none"  %}
            
            {% render_field form.github_link placeholder="Github Link" class="w-full p-3 px-4 py-2 my-2 border rounded-md focus:outline-none"  %}
            
            <button type="submit" class="w-full px-6 py-4 mt-4 font-bold text-white rounded-lg btn secondary">Add Project</button>
        </form>
    </div>
</main>
{% endblock body %}