{% load static %}
<nav class="nav-radius px-2 sm:px-4 py-2.5 rounded primary">
    <div class="flex flex-wrap items-center justify-between mx-auto">
        <a href="{% url 'home' %}" class="text-5xl font-bold"><img src="{% static 'images/logo.png' %}" alt="Dev Hub" width="130px"></a>
        <button id="hamburger" type="button"
            class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
            aria-controls="hamburger" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="menu">
            <ul class="flex flex-col p-4 mt-4 text-lg rounded-lg md:flex-row md:space-x-8 md:mt-0">
                <li><a href="{% url 'home' %}" class="block py-2 pl-2 pr-2 text-white" {% if request.path == '/'  %} aria-current="page" {% endif %}>Home</a></li>
                <li><a href="" class="block py-2 pl-2 pr-2 rounded">About</a></li>
                {% if request.user.is_hiring_manager %}
                <li><a href="{% url 'saved_profiles' %}" class="block py-2 pl-2 pr-2 rounded" {% if request.path == '/saved/'  %} aria-current="page" {% endif %}>Saved</a></li>
                {% endif %}
                <li><a href="{% url 'account' %}" class="block py-2 pl-2 pr-2 rounded" {% if request.path == '/account/'  %} aria-current="page" {% endif %}>Account</a></li>
                <li><a href="{% url 'logout' %}" class="block py-2 pl-2 pr-2 rounded">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>